

* { box-sizing:border-box; margin:0; padding:0; }

html { height:100%; width:100%; }

body {

  align-content:center;
  align-items:space-around;
  background-color:#202830;
  display:grid;
  justify-items:center;
  height:100%;
  width:100%;

}



canvas { image-rendering:pixelated; }

#menu {

  background-color:rgba(0, 0, 0, 0.5);
  color:#ffffff;
  cursor:pointer;
  display:grid;
  max-height:100%;
  overflow-y:auto;
  padding:8px;
  position:fixed;
  right:0px;
  top:0px;
  user-select:none;

  -webkit-tap-highlight-color:transparent;

}

#menu p {

  color:#ffffff;
  font-size:2.0em;

}

#menu-list {

  display:none;

}

#menu-list a {

  color:#ffffff;
  font-size:1.5em;
  text-decoration:none;

}

.ColGuide, #pokedex, .title {
  color: white;
}

.ColNums {
  display: flex;
  flex-wrap: wrap;
}

.RedCol {
  color: red;
  padding: 1em;
}

.GreenCol {
  color: green;
  padding: 1em;
}

.BlueCol {
  color: blue;
  padding: 1em;
}

.YellowCol {
  color: yellow;
  padding: 1em;
}

.PinkCol {
  color: pink;
  padding: 1em;
}

#pokedex {
  color: blanchedalmond;
  border: 5px solid red;
  margin: 1em;
  padding: .5em;
}
